
@{
    ViewBag.Title = "AboutUs";
}
<head>
    <style>
        body {
            font-family: Century Gothic;
            background: url(/images/pic-2.jpg)no-repeat;
            background-size: cover;
            background-position: center;
            
        }

        .container {
            
            width: 50%;
            background: rgba(0, 0, 0, .6);
            color:white;
            
        }

        .img {
            height: 70px;
            width: 70px;
            background: black;
            border-radius: 50px;
            background: url(/images/pic.jpg)no-repeat;
            background-size: cover;
            background-position: center;
            
            
        }
    </style>
</head>
<div class="container" style="text-align:center">
    <img class="img" />
    <h1>About Us</h1>
    <p>
        Our main strategy is to understand the customer's perspective and make sure that we can be as creative as we can in that. Events are something on which we make memories and it is our duty to make those memories of yours the most beautiful ones. Book us for your events and lets rock the event together!!
    </p>
</div>



<!--jQuery-->
<script src="~/assets/js/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="~/assets/js/bootstrap.bundle.js"></script>
<script src="~/assets/js/loaders.css.js"></script>
<script src="~/assets/js/aos.js"></script>
<script src="~/assets/js/swiper.min.js"></script>
<script src="~/assets/js/lightgallery-all.min.js"></script>
<!--Template Script-->
<script src="~/assets/js/main.js"></script>

<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>


