


<style>
    body {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/images/pic-2.jpg);
    }

    .row h5 {
        color: white;
    }
</style>

<!-- Hero Start -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-11">
                <div class="swiper-container hero-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-content d-flex align-items-center">
                            <div class="single-slide">
                                <h1 data-aos="fade-right" data-aos-delay="200">
                                    Let's<br> Rock the Event!
                                </h1>
                                <p data-aos="fade-right" data-aos-delay="600">
                                    We not only arrange and manage an event, <br>but make sure to making it the most rocking of all.
                                </p>

                            </div>
                        </div>
                        <div class="swiper-slide slide-content d-flex align-items-center">
                            <div class="single-slide">
                                <h1 data-aos="fade-right" data-aos-delay="200">
                                    Build Memories<br> to the fullest
                                </h1>
                                <p data-aos="fade-right" data-aos-delay="600">
                                    Never compromise on building up memories.<br> Only they are the ones which will stay with you forever.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Add Control -->
        <span class="arr-left"><i class="fa fa-angle-left"></i></span>
        <span class="arr-right"><i class="fa fa-angle-right"></i></span>
    </div>
    <div class="texture"></div>
    <div class="diag-bg"></div>
</section>
<!-- Hero End -->
<!-- Call To Action Start -->
<section class="cta" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
        <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left">
            <div class="content" data-aos="fade-right" data-aos-delay="200">
                <h2>WHO IS BEHNIND ALL THIS?</h2>

            </div>
            <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0">
                <a href="OurTeam" class="btn btn-primary">Team details</a>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action End -->
<!-- Services Start -->
<section class="services">
    <div class="container">
        <div class="title text-center">

            <h1 class="title-primary">We Organize</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
                        <img class="mr-4" src="/images/service5.png" style="width:25%; height: 25%">
                        <div class="media-body">
                            <h5 style="color:white">Weddings</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600">
                        <img class="mr-4" src="/images/service2.png" style="width:25%; height: 25%">
                        <div class="media-body">
                            <h5>Catering</h5>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                        <img class="mr-4" src="/images/service3.png" style="width: 25%; height:25%">
                        <div class="media-body">
                            <h5>Birthdays</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
                        <img class="mr-4" src="/images/service4.png" style="width:25%; height:25%">
                        <div class="media-body">
                            <h5>Corporate Events</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->
<!-- Trust Start -->
<section class="trust">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-6" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
                <div class="title">
                    <h6 class="title-primary">About Us</h6>
                    <h1>20 Years of Experience in Event Management</h1>
                </div>

                <h5 style="font-weight:normal">Our main strategy is to understand the customer's perspective and make sure that we can be as creative as we can in that. Events are something on which we make memories and it is our duty to make those memories of yours the most beautiful ones. Book us for your events and lets rock the event together!!</h5>

            </div>
            <div class="col-xl-5 gallery">
                <div class="row no-gutters h-100" id="lightgallery">
                    <a href="https://lorempixel.com/600/400/" class="w-50 h-100 gal-img" data-aos="fade-up"
                       data-aos-delay="200" data-aos-duration="400">
                        <img class="img-fluid" src="/images/gallery1.jpg" alt="Gallery Image">
                        <i class="fa fa-caret-right"></i>
                    </a>
                    <a href="https://lorempixel.com/600/400/" class="w-50 h-50 gal-img" data-aos="fade-up"
                       data-aos-delay="400" data-aos-duration="600">
                        <img class="img-fluid" src="/images/gallery2.jpg" alt="Gallery Image">
                        <i class="fa fa-caret-right"></i>
                    </a>
                    <a href="https://lorempixel.com/600/400/" class="w-50 h-50 gal-img gal-img3" data-aos="fade-up"
                       data-aos-delay="0" data-aos-duration="600">
                        <img class="img-fluid" src="/images/gallery3.jpg" alt="Gallery Image">
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trust End -->
<!-- Pricing Start -->
<section class="pricing-table">
    <div class="container">
        <div class="title text-center">
            <h6 class="title-primary">Our Prices</h6>
            <h1 class="title" style="color:white">We Offer Affordable Prices For Our Valuable Customers</h1>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="0"
                     data-aos-duration="600">
                    <span>Per Event</span>
                    <h2>Minimal</h2>
                    <p class="price">Starting from Rs.80,000/-</p>

                    <a href="Reservations/Reservation" class="btn btn-primary">Book Now</a>
                    <svg viewBox="0 0 170 193">
                        <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                              d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                    </svg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                     data-aos-duration="600">
                    <span>Per Event</span>
                    <h2>Basic</h2>
                    <p class="price">Starting from Rs.150,000/-</p>


                    <a href="Reservations/Reservation" class="btn btn-primary">Book Now</a>
                    <svg viewBox="0 0 170 193">
                        <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                              d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                    </svg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="600"
                     data-aos-duration="600">
                    <span>Per Event</span>
                    <h2>Elite</h2>
                    <p class="price">Starting from Rs.300,000/-</p>
                    <a href="Reservations/Reservation" class="btn btn-primary">Book Now</a>
                    <svg viewBox="0 0 170 193">
                        <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                              d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing End -->
<!-- Testimonial and Clients Start -->
<section class="testimonial-and-clients">
    <div class="container">
        <div class="testimonials">
            <div class="swiper-container test-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide text-center">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-10">
                                <div class="test-img" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                                    <img src="/images/test1.png" alt="Testimonial 1">
                                </div>
                                <h5 data-aos="fade-up" data-aos-delay="200" data-aos-duration="600"
                                    data-aos-offset="0">
                                    Zarish Nadeem
                                </h5>
                                <span data-aos="fade-up" data-aos-delay="400" data-aos-duration="600"
                                      data-aos-offset="0">
                                </span>
                                <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="600"
                                   data-aos-offset="0">
                                    They exactly knew what I wanted and made my event one of the best ones. I am highly satisfied.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide text-center">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-10">
                                <div class="test-img" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                                    <img src="/images/test1.png" alt="Testimonial 1">
                                </div>
                                <h5 data-aos="fade-up" data-aos-delay="200" data-aos-duration="600"
                                    data-aos-offset="0">
                                    Usama Ahmed
                                </h5>
                                <span data-aos="fade-up" data-aos-delay="400" data-aos-duration="600"
                                      data-aos-offset="0">

                                </span>
                                <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="600"
                                   data-aos-offset="0">
                                    Firstly I was reluctant to book this agency for my event but I just did. If you guys contact them, they'll absolutely make you feel at home. Highly impressed by the quality services provided by them

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide text-center">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-10">
                                <div class="test-img" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                                    <img src="/images/test1.png" alt="Testimonial 1">
                                </div>
                                <h5 data-aos="fade-up" data-aos-delay="200" data-aos-duration="600"
                                    data-aos-offset="0">
                                    Aqeedat Zameer
                                </h5>
                                <span data-aos="fade-up" data-aos-delay="400" data-aos-duration="600"
                                      data-aos-offset="0">
                                </span>
                                <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="600"
                                   data-aos-offset="0">
                                    If someone really needs to build up beautiful memories which are pocket friendly too, try these people. Recommended.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test-pagination"></div>
            </div>
        </div>
        <div class="clients" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
            <div class="swiper-container clients-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/client1.png" alt="Client 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/client2.png" alt="Client 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/client3.png" alt="Client 3">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/client4.png" alt="Client 4">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/client5.png" alt="Client 5">
                    </div>
                </div>
                <div class="test-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial and Clients End -->
<!-- Footer Start -->
<footer>
    <!-- Widgets Start -->
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">

                        <p>
                            By subscribing to our mailing list you will always be update with the latest news from
                            us.
                        </p>
                        <div class="media">
                            <i class="fa fa-map-marker"></i>
                            <div class="media-body ml-3">
                                <h6>Address</h6>
                                45 B2, Johar Town,<br>
                                Lahore, Pakistan
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-envelope-o"></i>
                            <div class="media-body ml-3">
                                <h6>Have any questions?</h6>
                                <a href="#">info@letsrockthisevent.com</a>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-phone"></i>
                            <div class="media-body ml-3">
                                <h6>Call us & Book us</h6>
                                <a href="#"> +92 (0) 7 9180 3458</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="single-widget subscribe-widget" data-aos="fade-up" data-aos-delay="800">
                        <h6 class="widget-tiltle">Subscribe us</h6>
                        <p>Sign up for our mailing list to get latest updates and offers</p>
                        <form class="" method="get">
                            <div class="input-group">
                                <input class="field form-control" name="subscribe" type="email"
                                       placeholder="Email Address">
                                <span class="input-group-btn">
                                    <button type="submit" name="submit-mail"><i class="fa fa-check"></i></button>
                                </span>
                            </div>
                        </form>
                        <p>Connect us on Social Media</p>
                        <ul class="nav social-nav">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Widgets End -->

</footer>
<!-- Footer Endt -->
<!--jQuery-->
<script src="~/assets/js/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="~/assets/js/bootstrap.bundle.js"></script>
<script src="~/assets/js/loaders.css.js"></script>
<script src="~/assets/js/aos.js"></script>
<script src="~/assets/js/swiper.min.js"></script>
<script src="~/assets/js/lightgallery-all.min.js"></script>
<!--Template Script-->
<script src="~/assets/js/main.js"></script>
