
@{
    ViewBag.Title = "PaymenOptions";
}

<style>
    body {
        background-image: url(http://evento.com.pk/wp-content/uploads/2016/08/img1-1.jpg);
        color:white;
        
    }
    .container-fluid{
        padding:10px;
        align-content:center;
        text-align:center;
    }
    img{
        border-radius:50%;
        width:300px;
        height:200px;
    }

</style>
<div id="servicecontainer" class="container-fluid">
    <br />
    <h1>A RANGE OF PAYMENT METHODS FOR YOUR CONVENIENCE</h1>
    <br />
    <div id="servicerow" class="row" style="margin-top:auto">
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCOsCt52lDYWb63CdS0ibRVKc7GET3WKKdCg&usqp=CAU" id="cashimg" class="img-circle" /><br />
            <h3 id="servicetype">CASH</h3><br />
            <br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzVnhi-L7ok8BcK15nhefHvhfJftDRzEFEuA&usqp=CAU" id="creditcardimg" class="img-circle" /><br />
            <h3 id="servicetype">CREDIT CARD</h3><br />
            <br /><br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd3lTa4bwBmSsHE6F2KFp7cRprCd_fKSUYOA&usqp=CAU" id="easypaisaimg" class="img-circle" /><br />
            <h3 id="servicetype">EASY PAISA</h3><br />
            <br /><br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb-OmCvsuNceQTVf6BshUOlDUjIK6osgLiFw&usqp=CAU" id="jazzcashimg" class="img-circle" /><br />
            <h3 id="servicetype">JAZZ CASH</h3><br />
            <br /><br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV0LsTdle_I6TEQmyplU5CQRNyOWJTd51PUQ&usqp=CAU" id="bankaccountimg" class="img-circle" /><br />
            <h3 id="servicetype">Bank Account</h3><br />
            <br /><br />
        </div>
    </div>
</div>

<!--jQuery-->
<script src="~/assets/js/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="~/assets/js/bootstrap.bundle.js"></script>
<script src="~/assets/js/loaders.css.js"></script>
<script src="~/assets/js/aos.js"></script>
<script src="~/assets/js/swiper.min.js"></script>
<script src="~/assets/js/lightgallery-all.min.js"></script>
<!--Template Script-->
<script src="~/assets/js/main.js"></script>
