
@{
    ViewBag.Title = "Catering Service";
}
<div id="middle1" style="text-align: center; position: relative;">
    <div class="container-fluid">
        <img src="https://i.ytimg.com/vi/m8S5PH2TXPA/maxresdefault.jpg" style="width:100%;">
        <div class="centered" style="color: black; position: relative;">
            <h1>CATERING SERVICES</h1>
        </div>
    </div>

    <div id="description" style="text-align:left">
        <div class="row">
            <h2 id="title1" style="font-style:italic; color:black">Catering Services in Pakistan</h2>
        </div>
        <div class="row">
            <p>
                Food is one of the important decisions of wedding or any other event preparations. For each event, it takes lots of discussions between the family members to finally select a menu that has favorites of every generation.
                Food is an important factor why your event will be rated as a great one. Back then the taste was the only quality factor associated with food, whereas now presentation has held equal standing.
                A great food presented in a great possible manner is something for which only experts can be depended upon. And, So Evento brings the Chefs from top-notch restaurants of Pakistan to serve a variety of cuisines available in our menu to your guests
            </p>
        </div>
        <div class="row">
            <p>
                Our specialty food suggests traditional Pakistani, Chinese, Japanese and Italian cuisines which sums up almost every exclusive food idea that you may have on your mind. Evento will provide you with quality food catering services which in mouth-watering dishes, served elegantly in a stylish entrée.
                Our salad, starters and drinks bar add energizing fuel to the event. Our mouth watering menus are available on our website for you to follow and select from and you can also send us a query for details. To offer pre satisfaction of our clients, we offer free samples in Karachi, Lahore and Islamabad.
            </p>
        </div>
    </div>
    <h2>
        Searching for best Caterers for your <b>Wedding</b> or <b>Event</b>?<br />

        Call Us Today: <span style="font-style:oblique">+923-123-456-789</span>
    </h2>
</div>


<!--jQuery-->
<script src="~/assets/js/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="~/assets/js/bootstrap.bundle.js"></script>
<script src="~/assets/js/loaders.css.js"></script>
<script src="~/assets/js/aos.js"></script>
<script src="~/assets/js/swiper.min.js"></script>
<script src="~/assets/js/lightgallery-all.min.js"></script>
<!--Template Script-->
<script src="~/assets/js/main.js"></script>